/* Common Styles  */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
h2{
    color: #0A0826;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 28px;
}
/* Header Section  */
.logo{
    color: #3E3E3E;
}
.hero-button{
    color: #3F87F5;
    padding: 10px 43px;
}

/* Our Package Section  */
h3, h4{
    color: #231D4F;
}
.icon-color{
    color: #5243C2;
}
.our-package-text{
    font-size: 15px;
    color: #848199;
}
.special-package{
    background: #3F87F5;
    border-radius: 26px;
    padding: 30px;
}
.speical-package-button{
    padding-bottom: 12px;
}
.badge {
    margin-left: -48px;
    margin-top: 26px;
    z-index: 1;
}

/* Footer Section  */
.footer-content{
    background: #0B0D17;
}
.footer-text{
    color: #D9DBE1;
}

/* For Mobile  */
@media (max-width:600px){
    /* common styles  */
    .section-title{
        font-size: 19px;
    }
    /* Header Section  */
    .logo{
        font-size: 14px;
        font-weight: 700;
    }
    h1{
        font-size: 18px;
        font-weight: 700;
    }
    .small-devices{
        margin-top: 140px;
        height: 205px;
    }
    .small-devices img{
        height: 205px;
    }
    .hero-text{
        font-weight: 300;
    }

    /* Our Package  */
    .package{
        margin-bottom: 50px;
    }
}

/* For Tablet  */
@media (min-width:768px){
    .package{
        margin-bottom: 30px;
    }
}